<!--

88      a8P   888b      88    ,ad8888ba,  888888888888  ad88888ba
88    ,88'    8888b     88   d8"'    `"8b      88      d8"     "8b
88  ,88"      88 `8b    88  d8'        `8b     88      Y8,
88,d88'       88  `8b   88  88          88     88      `Y8aaaaa,
8888"88,      88   `8b  88  88          88     88        `"""""8b,
88P   Y8b     88    `8b 88  Y8,        ,8P     88              `8b
88     "88,   88     `8888   Y8a.    .a8P      88      Y8a     a8P
88       Y8b  88      `888    `"Y8888Y"'       88       "Y88888P"

-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ page.title }}</title>
<link rel="stylesheet" href="{{ site.url }}/assets/style.css" type="text/css" media="screen" />
</head>
<body class="{{ page.layout }}">
<div id="wrap">
<div id="header">
<h1><a href="{{ site.url }}">{{ site.name }}</a></h1>
<div class="description"><a href="{{ site.url }}/terms/">Glossary of Terms</a></div>
</div>